const mapDispatchToProps = {
  fetchStart: () => ({ type: 'START_REQUEST' }),
  fetchCompleted: (data) => ({ type: 'REQUEST_COMPLETED', payload: data }),
  fetchError: (err) => ({ type: 'REQUEST_ERROR', payload: err })
};

class AjaxContainr extends Component {
  // ---
  componentDidMount() {
    this.props.fetchStart();
    ajax('/api/users/get-my-info', (err, info) => {
      if (err) {
        return this.props.fetchError(err);
      }
      this.props.fetchCompleted(info);
    });
  }
  // --
  componentDidMount() {
    this.props.fetch();
    fetch('/api/users/get-my-info')
      .then(res => {
        if (!res.ok) {
          throw new Error(res.statusText);
        }
        return res.json();
      })
      .then(
        fetchCompleted,
        fetchError
      );
  }
}

export default connect(
  null,
  mapDispatchToProps
)(AjaxContainr);
