export function fetchUserInfo() {
  return function actionCreator(dispatch, getState) {
    dispatch({ type: 'START_REQUEST' });
    ajax('/api/users/get-my-info', (err, info) => {
      if (err) {
        return dispatch({ type: 'REQUEST_ERROR', payload: err });
      }
      return dispatch({ type: 'REQUEST_COMPLETED', payload: data });
    });
  };
}

// ....
export function fetchUserInfo() {
  return function actionCreator(dispatch, getState) {
    dispatch({ type: 'START_REQUEST' });
    fetch('/api/users/get-my-info')
      .then(res => {
        if (!res.ok) {
          throw new Error(res.statusText);
        }
        return res.json();
      })
      .then(
        data => dispatch({ type: 'REQUEST_COMPLETED', payload: data }),
        err => dispatch({ type: 'REQUEST_ERROR', payload: err })
      );
  };
}
